body {
    background: #0b1f2d;
}

.counterMain {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}

.counterBlock {
    margin: 200px 0 0 0;
    width: 500px;
    height: 500px;
    border: 5px solid #73deee;
    background: #014d5b;
    border-radius: 10px;
}
.counterDisplay{
    margin: 30px auto;
    border: 1px solid black;
    width: 400px;
    height: 250px;
    background: #73deee;
    border-radius: 10px;
}
.counterNumber{
    display: flex;
    justify-content: center;
    margin: 70px auto;
    color: #014d5b;
    font-size: 50px;
    font-weight: 500;
}
.counterError{
    display: flex;
    justify-content: center;
    margin: 70px auto;
    color: red;
    font-size: 50px;
    font-weight: 500;
}

.counterBottom{
    margin: 30px auto;
    width: 400px;
    height: 150px;
    background: #014d5b;
    border: 3px solid #73deee;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;


}
.counterInc{
    width: 110px;
    height: 60px;
    background: #73deee;
    font-size: 45px;
}
.counterReset{
    width: 140px;
    height: 60px;
    background: #73deee;
    font-size: 45px;

}

